@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(carrosel.css);

:root {
  /* font-family */
  --default-font-family: "Poppins", sans-serif;
  --josefin-font-family: "Josefin Sans", sans-serif;

  /* font-size */
  --2x-title-font-size: 2.25rem;
  --big-title-font-size: 1.625rem;
  --subbig-title-font-size: 1.5rem;
  --title-font-size: 1.125rem;
  --subtitle-font-size: 1rem;
  --general-font-size: 0.875rem;

  /* font-weight */
  --light-font-weight: 300;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --bold-font-weight: 700;

  /* colors */
  --default-color: #ffffff;
  --orange-color: #eb9b00;
  --black-color: #000000;
  --default-background-gradient: linear-gradient(to right, #002f52, #326589);

  --swiper-navigation-top-offset: 60%;
}

body {
  background-color: #ebecee;
  color: var(--black-color);
  font-family: var(--default-font-family);
  font-weight: var(--regular-font-weight);
  line-height: 1.5;
  min-height: 100vh;
  width: 100%;
}

/*----------------------*/
/*-- CABEÇALHO - HEADER */
/*----------------------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em;
  background-color: var(--default-color);
  position: relative;
}

.cabecalho_opcoes1,
.cabecalho_opcoes2,
.cabecalho__titulo__container {
  display: flex;
  align-items: center;
}

.cabecalho_opcoes1 {
  gap: 25px;
}
.cabecalho_opcoes2,
.cabecalho__titulo__container {
  gap: 10px;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 70%;
  padding: 0.8em 0 0.8em 0.8em;
  background-color: var(--default-color);
}

#check_menu:checked ~ .lista-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#check_menu:checked ~ .menu-hamburguer__container {
  background: var(--default-background-gradient);
  padding: 10%;
}

.menu-aberto {
  display: none;
}

#check_menu:checked ~ .menu-hamburguer__container .menu-fechado {
  display: none;
}

#check_menu:checked ~ .menu-hamburguer__container .menu-aberto {
  display: block;
}

.lista-menu__categorias {
  font-weight: var(--bold-font-weight);
  color: var(--orange-color);
}

.lista-menu__link {
  text-decoration: none;
  background: var(--default-background-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.lista-menu__categorias,
.lista-menu__link {
  font-size: var(--subtitle-font-size);
}

/*----------------------*/
/*-- SEÇÃO - PESQUISA */
/*----------------------*/
.pesquisa {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  padding: 2em 0;
  background: var(--default-background-gradient);
  color: var(--default-color);
}

.pesquisa__titulo {
  font-size: var(--title-font-size);
  font-weight: var(--bold-font-weight);
}

.pesquisa__texto {
  font-size: var(--subtitle-font-size);
  font-weight: var(--medium-font-weight);
  padding: 0% 3em;
}

#pesquisar {
  background-color: transparent;
  color: var(--default-color);
  border: 2px solid var(--default-color);
  font-family: var(--default-font-family);
  text-align: center;
  border-radius: 24px;
  padding: 0.8em;
  width: 80%;
  background-image: url("../assets/lupa.svg");
  background-repeat: no-repeat;
  background-position: 3%;
}

#pesquisar::placeholder {
  font-size: var(--general-font-size);
  color: var(--default-color);
}

/*----------------------*/
/*-- SEÇÃO ÚLTIMOS LANÇAMENTOS (TÍTULOS) */
/*----------------------*/
.ultimos-lancamentos__titulo,
.maisvendidos__titulo {
  font-weight: var(--bold-font-weight);
  font-size: var(--title-font-size);
  background-color: var(--default-color);
  color: var(--orange-color);
  text-transform: uppercase;
  text-align: center;
  padding: 1em;
}

/*----------------------*/
/*-- SEÇÃO DE TÓPICOS VISITADOS RECENTEMENTE */
/*----------------------*/
.link__saibamais {
  background-color: var(--orange-color);
  color: var(--default-color);
  font-size: var(--subtitle-font-size);
  font-weight: var(--bold-font-weight);
  text-decoration: none;
  padding: 1em 2.2em;
}

.topicos-visitados {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 1em;
  background: var(--default-background-gradient);
}

.topicos-visitados__titulo {
  font-size: var(--subtitle-font-size);
  font-weight: var(--light-font-weight);
  color: var(--default-color);
}

.topicos__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topicos-item {
  margin: 1.25em 0.6em;
}

.topico__link {
  background-color: var(--orange-color);
  color: var(--default-color);
  font-size: var(--general-font-size);
  text-decoration: none;
  padding: 1em;
}

.contato {
  display: flex;
  flex-direction: column;
  background-color: var(--default-color);
  padding: 1.5em;
  gap: 10px;
}

.contato__titulo,
.contato__descricao {
  font-size: var(--title-font-size);
  font-weight: var(--medium-font-weight);
  background: var(--default-background-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.contato__descricao {
  font-size: var(--subtitle-font-size);
  font-weight: var(--light-font-weight);
}

#cadastrar__email {
  font-family: var(--default-font-family);
  border-radius: 24px;
  padding: 0.8em;
}

#cadastrar__email::placeholder {
  background-image: url("../assets/Email.svg");
  background-repeat: no-repeat;
  font-size: var(--subtitle-font-size);
  color: var(--default-background-gradient);
  padding-left: 2em;
}

/*----------------------*/
/*-- RODAPÉ - FOOTER --*/
/*----------------------*/
footer {
  border-top: 2px solid grey;
  background-color: var(--default-color);
}

.rodape__titulo {
  padding: 1em;
}

/*----------------------*/
/*-- CARD --*/
/*----------------------*/
.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 1.1em;
  margin: 1.1em;
  background-color: var(--default-color);
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card__conteudo {
  display: flex;
  justify-content: space-between;
}

.card__textos {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card__subtitulo {
  font-size: var(--subtitle-font-size);
  font-weight: var(--bold-font-weight);
  color: var(--orange-color);
  padding: 0 0.8em 0 0;
}

.card__titulo {
  font-size: var(--title-font-size);
  font-weight: var(--bold-font-weight);
  background: var(--default-background-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 0 1em 0 0;
}

.card__descricao {
  padding: 0 1.5em 0 0;
}

.card__acoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__botoes {
  display: flex;
}

.cabecalho__titulo {
  display: none;
}

.cabecalho__nav-links {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.rodape__lista {
  display: none;
}

/*----------------------*/
/*-- 728px --*/
/*----------------------*/
@media screen and (min-width: 1024px) {
  header {
    justify-content: space-around;
  }

  .cabecalho__titulo {
    display: block;
    font-family: var(--josefin-font-family);
    font-size: 1.875rem;
    font-weight: var(--regular-font-weight);

    .titulo-negrito {
      font-weight: var(--bold-font-weight);
    }
  }

  .cabecalho__nav-links {
    display: flex;
    gap: 40px;
    position: relative;

    .nav-link,
    .categorias-text {
      font-size: var(--subtitle-font-size);
      text-transform: uppercase;
      text-decoration: none;
      color: var(--black-color);
    }
  }

  .favorios-svg {
    display: none;
  }

  .menu-hamburguer__container {
    display: none;
  }

  #lista__categorias:checked ~ .lista-menu {
    display: block;
    width: auto;
    padding: 0.8em;
    left: -6%;
  }

  .pesquisa {
    padding: 5em 0;
    gap: 0;

    .pesquisa__titulo {
      font-size: var(--2x-title-font-size);
    }

    #pesquisar {
      width: 40%;
      margin: 2%;
      padding: 1.2em;
    }

    #pesquisar::placeholder {
      font-size: var(--subtitle-font-size);
    }
  }

  .ultimos-lancamentos__titulo,
  .maisvendidos__titulo {
    font-size: var(--big-title-font-size);
  }

  .card {
    margin: 3em auto;
    width: 50%;

    .card__descricao {
      font-size: var(--subtitle-font-size);
    }
  }

  .swiper {
    width: 70%;
  }

  .swiper-pagination {
    margin: 3% 0 6% 0;
    scale: 1.2;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
    background: var(--default-background-gradient);
    top: var(--swiper-navigation-top-offset);
    border-radius: 50%;
    color: white;

    & svg {
      width: 20%;
      height: auto;
    }
  }

  .topicos-visitados {
    padding: 2em;

    .topicos-visitados__titulo {
      font-size: var(--subbig-title-font-size);
    }

    .topicos-item {
      margin: 2.1em 0.6em;
    }

    .topico__link {
      font-size: var(--subbig-title-font-size);
      font-weight: var(--bold-font-weight);
    }
  }

  .contato {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;

    .contato-text__container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 30%;
    }

    .contato__titulo {
      font-size: var(--subbig-title-font-size);
    }

    #cadastrar__email {
      width: 25%;
    }
  }

  footer {
    display: flex;
    justify-content: space-around;
    padding: 0 4% 0 0;
    /*gap: 60px;*/

    .rodape__titulo {
      font-size: var(--subbig-title-font-size);
      padding: 2em 0;
    }

    .rodape__lista {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 3em 0;
    }

    .rodape__lista-titulo {
      font-size: var(--general-font-size);
      color: #858585;
    }

    .rodape__lista-item {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .rodape__lista-link {
      font-size: var(--general-font-size);
      text-decoration: none;
      color: #474646;
    }
  }
}